.card {
  border-radius: var(--btn-radius);
  margin-top: 20px;
  background-color: #fff;
  padding-bottom: 10px;
}

.header-card {
  padding: 20px;
}

.price {
  font-size: 24px;
  color: var(--main-color);
}

.logo-aircompany {
  background-color: #fff;
}

.description-card {
  padding: 0 20px 10px 20px;
}

.sub-color {
  color: var(--sub-color);
}
