.card {
  border-radius: var(--btn-radius);
  margin-bottom: 20px;
  background-color: #fff;
  padding-bottom: 10px;
}

.header-card {
  padding: 20px;
}

.price {
  font-size: 24px;
  color: var(--main-color);
}

.logo-aircompany {
  background-color: #fff;
}

.logo-img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.logo-name {
  font-size: 18px;
  margin: 0 5px;
}

.description-card {
  padding: 0 20px 10px 20px;
}

.sub-color {
  color: var(--sub-color);
}
