* {
  margin: 0;
  right: 0;
}

:root {
  --main-color: #2196f3;
  --color-bg: #f3f7fa;
  --text-main: #4a4a4a;
  --btn-radius: 10px;
  --sub-color: #a0b0b9;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  background-color: var(--color-bg);
  color: var(--text-main);
  letter-spacing: 0.5px;
  font-weight: 500;
}

#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-sb {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.text-upper {
  text-transform: uppercase;
}

.font-semibold {
  font-weight: 600;
}

.font-regular {
  font-weight: 400;
}

.font-letter-normal {
  letter-spacing: normal;
}

.fz14 {
  font-size: 14px;
}

.pb5 {
  padding-bottom: 5px;
}

.box-shadow {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
